* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lexend', Times, serif;
    transition: 0.3s all ease;


}

:root {

    --font-bigger: 2.4rem;
    --font-big2: 1.6rem;
    --font-big: 1.8rem;
    --font-small: 1.1rem;
    --font-medium: 1.3rem;
    --font-medium2: 1.6rem;
    --nav-font: 1.4rem;
    --box: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    --color1: #eee;
    --color2: #f0f0f0;

}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    /*font-size is 62.5%*/
}

header {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 12%;
    z-index: 999;
    background-color: white;
    box-shadow: var(--box);




}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-a;
    position: relative;
    align-items: center;
    background-color: white;
    gap: 0rem 4rem;

}



.items {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0rem 5rem;

}

.items a {
    text-decoration: none;
    font-size: var(--nav-font);
    color: black;
    transition: 0.5s all ease;
    position: relative;



}

#nav-icon {
    padding: 0.9rem 0.9rem;
    background-color: #f0f4f6;
}

.cart-icon-1 {
    position: relative;
}

.cart-icon-2 {

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -0.9rem;
    left: 2.2rem;
    width: 2rem;
    height: 2rem;
    color: white;
    font-size: 1.2rem;
    border-radius: 50%;

    background-color: #fe4c50;
}

.items a:hover {
    transition: 0.5 all ease;
    color: black;

}



#title {

    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: var(--font-medium2);

}

#title span {
    color: #fe4c50;
}



.icons {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0rem 1rem;
    /* background-color: red; */


}

.icon-2 {

    padding: 0.9rem 0.9rem;
    border-radius: 100%;
    text-align: center;
    font-size: var(--font-medium);
    cursor: pointer;
    position: relative;


}



.active {
    width: 20rem;
    height: 2rem;
    transition: 0.5s all ease;
    border-radius: 0;
}


.hamburger {
    display: none;
    overflow: hidden;
}

#title2 {
    text-decoration: none;
    color: black;
    font-size: var(--font-bigger2);
    display: none;
}

.cart {
    display: none;
}

.sidenav {

    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 100vh;
    background-color: white;
    box-shadow: var(--box);
    transform: translateX(-100%);
    display: none;

}

.sidenav-icons {
    display: none;
}

.search2 {
    position: relative;

}

/*home section starts*/
.home {
    position: relative;
    width: 100%;
    margin-top: 6.8rem;
    /* padding-top:4rem; */
}

.slider-image {
    width: 100%;
    height: 65vh;
    position: relative;
}

.slider-image img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*home section ends here*/
.home2 {
    position: relative;
    margin-top: 8rem;
    display: none;

}

.slide2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem 0rem;
    min-height: 30rem;
}

.slide2 .slider-image2 {
    flex: 1 1 42rem;
    text-align: center;
}

.slider-image2 img {
    height: 20rem;
}

.home2-content {
    flex: 1 1 42rem;
    text-align: center;
}

.home2-content span {
    font-size: var(--font-bigger);
}

.home2-content h3 {
    font-size: 3rem;
}

.home2-btn {
    background-color: #00cc90;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    color: black;
    font-size: 1.7rem;
    display: inline-block;
    margin-top: 1rem;
}

.home2-btn:hover {
    background-color: #00cc8f36;
}





/*cards section starts here*/
.border-section {

    margin: 5rem 13rem;
}

.cards-section-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}

.cards {
    width: 33rem;
    height: 18rem;
    position: relative;
    background-color: white;
    box-shadow: var(--box);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    gap: 0rem 1.5rem;
}

.cards::after {
    content: " ";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    clip-path: circle(26.1% at 100% 100%);
    transition: 0.3s all ease;
    background-color: #f0f4f6;
    /* background-color: transparent; */
}

.cards img {

    position: relative;
    height: 100%;
    object-fit: cover;
}

.cards-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 1rem 0rem;
}

.cards-info h3 {
    font-size: var(--font-bigger);
}

.cards-para {
    font-size: 1.4rem;

}

.cards-section-2 {
    display: none;
}

.cards-btn {
    text-decoration: none;
    color: black;
    font-size: var(--font-medium2);
    width: 8rem;
    position: relative;
}

.cards-btn::after {
    content: " ";
    position: absolute;
    top: 129%;
    left: 0%;
    width: 100%;
    height: 10%;
    font-size: 1.6rem;
    background-color: black;
}

.arrivals-section {
    margin: 10rem 0rem 5.5rem 0rem;
}

.arrivals {
    text-align: center;
    position: relative;
}

.arrivals .arrivals_title {
    display: inline-block;
    font-size: 3rem;
    position: relative;

}

.arrivals_title::after {
    display: block;
    content: " ";
    position: relative;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 5rem;
    height: 0.5rem;
    border-radius: 1rem;
    background-color: #fe4c50;
    margin: 1.5rem 0rem 2rem 0rem;

}

.arrivals-list {

    display: flex;
    justify-content: center;

}
.arrivals-list-1
{
    display: flex;
    justify-content: center;
    display: none;
}

.active-1 {
    background-color: #fe4c50;
    color: white;
}

.arrivals-heading {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0.8rem 3rem;
    border: 1px solid #ebebeb;

}

.product-cards-section {
    position: relative;
    display: flex;
    justify-content: center;

}

.product-cards-section-1 {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 1rem 0rem;
}

.arrival-cards {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #e9e9e9;
    border-bottom: 0px;
    border-top: 0px;
    padding: 2rem 0rem 0rem 0rem;
}

.arrival-cards-2 {
    position: absolute;
    top: 1.5rem;
    width: 5rem;
    height: 2.2rem;
    border-radius: 0.3rem;
    color: #fe4c50;

}

.arrival-cards-2::after {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: 6px;
    right: auto;
    top: auto;
    bottom: -6px;
    border: 6px solid
}

.arrival-cards-3 {
    color: white;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrival-cards-4::after {
    border-color: transparent transparent transparent #fe4c50;
}

.arrival-cards-4 {
    background-color: #fe4c50;
}

.arrival-cards-5 {
    right: 1.5rem;
}

.arrival-cards-2-section2 {
    position: absolute;
    top: 1.5rem;
    width: 5rem;
    height: 2.2rem;
    border-radius: 0.3rem;
    color: #fe4c50;

}

.arrival-cards-2-section2::after {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: 6px;
    right: auto;
    top: auto;
    bottom: -6px;
    border: 6px solid
}

.arrival-cards-3-section2 {
    color: white;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrival-cards-4-section2::after {
    border-color: transparent transparent transparent #51a042;
}

.arrival-cards-4-section2 {
    background-color: #51a042;
}

.arrival-cards-5-section2 {
    left: 1.5rem;
}

.active-1 {
    background-color: #fe4c50;
}

.arrival-cards:hover {

    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.arrivals-heading
{
    position: relative;
}

.arrivals-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
    position: relative;
}

.arrivals-info h6 {

    font-size: 1.3rem;
    margin: 0.2rem 0rem;

}

.arrivals-info h6:hover {
    color: #b5aec4;
    cursor: pointer;
}

.arrivals-info span {

    font-size: 1.3rem;
    font-weight: 600;
    color: #fe4c50;
    margin: 1rem 0rem;

}

.product-cart {
    text-decoration: none;
    font-size: 1.2rem;
    opacity: 0;
    width: 100%;
    padding: 0rem 0rem;
    text-align: center;
    padding: 1rem 0rem;
}

.arrival-cards:hover .product-cart {
    background-color: #fe4c50;
    color: white;
    opacity: 1;
    position: relative;

}

.arrival-image {
    position: relative;
    padding: 2rem 0rem !important;
}

.arrival-image img {
    width: 100%;
    height: 10rem;
    object-fit: contain;
}






@media(max-width:480px) {
    .border-section {
        margin: 0rem 0rem !important;
    }

    .cards-info h2 {
        font-size: 2rem !important;
    }

    .cards-info {
        margin-right: 0.5rem !important;
    }

    .line-1,
    .line-2,
    .line-3 {
        width: 65% !important;
    }


    .cards img {
        width: 12rem !important;
    }

    .hamburger {
        box-shadow: none !important;
        display: block;
        cursor: pointer;
        width: 3rem !important;
        height: 3rem !important;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;

    }

    .line-1 {
        position: absolute;
        width: 80%;
        height: 7% !important;
        background-color: black;
        transform: translateY(-0.7rem);
    }

    .line-2 {
        position: absolute;
        width: 80%;
        height: 8% !important;
        background-color: black;


    }

    .line-3 {
        position: absolute;
        width: 80%;
        height: 8% !important;
        background-color: black;
        transform: translateY(0.7rem);
    }

    .sidenav-icons i {
        font-size: 1.3rem;
        box-shadow: none !important;
    }

    .cards {
        justify-content: center !important;
        gap: 0rem 0rem !important;
    }

    .arrivals-list
    {
        display: none !important;
    }

    .arrivals-list-1
    {
        display: flex !important;
    }




}


@media(max-width:780px) {

    :root {

        --font-big2: 1.2rem;
        --font-bigger: 2rem;
        --font-big: 1.1rem;
        --font-small: 0.8rem;
        --font-medium: 0.9rem;
        --font-bigger2: 2rem;
        --font-medium2: 1rem;
    }


    header {
        padding: 1.8rem 10% !important;
    }

    .items {
        display: none;
    }

    #title {
        display: none;
    }

    .icons {
        display: none;
    }

    .cards-section {
        display: block;
    }





    .hamburger {
        display: block;
        cursor: pointer;
        width: 2.5rem;
        height: 2.5rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;


    }

    .line-1 {
        position: absolute;
        width: 80%;
        height: 10%;
        background-color: black;
        transform: translateY(-0.7rem);
    }

    .line-2 {
        position: absolute;
        width: 80%;
        height: 10%;
        background-color: black;


    }

    .line-3 {
        position: absolute;
        width: 80%;
        height: 10%;
        background-color: black;
        transform: translateY(0.7rem);
    }


    #title2 {
        display: block;
    }

    .sidenav-icons {
        display: flex;
        align-items: center;
        gap: 0rem 1rem;
        justify-content: center;
        flex-wrap: wrap;



    }

    .sidenav-icons i {
        cursor: pointer;
        background-color: white;

    }

    .cart {
        display: block;
        font-size: 2rem;
        padding: 0.5rem 0.5rem;
        border-radius: 100%;


    }



    .sidenav {
        position: absolute;
        top: 103%;
        left: 0%;
        width: 100%;
        height: 100vh;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        display: block;
        transform: translateX(-100%);
        overflow: auto;
    }

    .active3 {
        transform: translateX(0%);
    }

    .active4 {

        transform: rotate(45deg);
    }

    .active5 {

        transform: translateX(-150%);
    }

    .active1 {

        transform: rotate(-45deg);
    }

    .search2 {
        position: relative;
        margin: 1rem 2rem 0rem 2rem;
        padding: 1.5rem 1rem;
        display: flex;
        flex-wrap: wrap;





    }

    .search2 .input-2 {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0%;
        font-size: 1rem;
        box-shadow: var(--box);
        border: none;
        outline: none;
        padding: 0rem 3rem;
        border-radius: 0.2rem;
        cursor: pointer;




    }

    .search2:hover {
        box-shadow: rgba(18, 65, 63, 0.16) 0px 3px 6px, rgba(18, 65, 63, 0.16) 0px 3px 6px;
    }

    .search-icon2 {
        position: absolute;
        top: 0%;
        left: 0%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0rem 1rem;

    }


    .sidenav-items {
        position: relative;
        margin: 1.5rem 0.5rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

    }

    .sidenav-header {
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        font-size: var(--font-bigger);
        justify-content: space-between;
    }

    .sidenav-item1 {
        position: relative;
        width: 100%;
        padding: 0.5rem 1rem;
        justify-content: space-between;
        cursor: pointer;
        margin: 0.4rem 0rem;
        border-radius: 0.5rem;
        transition: 0.2s all ease;
    }

    .sidenav-item1:hover {
        transition: 0.2s all ease;
        background-color: var(--color1);
        position: relative;
    }

    .content {
        position: relative;
        display: none;

    }

    .content p {

        transition: 0.2s all ease;
        margin: 1rem 0.5rem;
        font-size: var(--font-big2);
    }




    .dropdown-icon {
        transition: 0.2s all ease;
        position: relative;

    }

    .active6 .content {
        position: relative;
        display: block;
    }

    .active8 {

        transform: rotate(180deg);
    }

    .home {
        display: none;
    }

    .home2 {
        display: block;
    }

    .home2 h3 {
        font-size: 2.5rem;
    }

    .home2-btn {
        font-size: 1.5rem;
    }

    .cards-section-2 .cards {
        display: flex;
        justify-content: space-around !important;
    }

    .cards img {
        width: 13rem !important;

     

    }
   
}


@media(max-width:1050px) {
    :root {
        --font-bigger: 2rem;
        --font-big2: 1.2rem;
        --font-big: 1.3rem;
        --font-small: 0.9rem;
        --font-medium: 1.3rem;
        --font-medium2: 1.4rem;

    }

    .border-section {
        margin: 5rem 1rem !important;
    }

    .cards-section-1 {
        display: none !important;
    }

    .cards-section-2 {
        display: flex;
    }

    .cards-info {
        gap: 1.5rem 0rem;
    }

    */ .cards-section-2 .cards {
        justify-content: center;
        gap: 0rem 2rem;
    }

    .cards-section-2 .cards img {
        width: 15rem;
    }

    header {
        padding: 1.8rem 4% !important;
    }

    .nav-icon {
        border-radius: 100% !important;
    }




}


@media(max-width:1200px) {
    .border-section {
        margin: 5rem 1rem !important;


    }

    .title-list {
        display: none !important;
    }

    .cards-section {
        gap: 0rem 0.5rem !important;
    }

    .items {
        gap: 0rem 3rem !important;
    }
}

@media(max-width:1300px) {
    .border-section {
        margin: 5rem 10rem;

    }
}